body,
html {
  position: fixed;
  overflow: hidden;
}

#root {
  background: black;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* enables “momentum” (smooth) scrolling */
}

::-webkit-scrollbar {
  width: 0;
}

.custom-dots {
  height: 20px;
  justify-content: center;
  align-items: center;
}

.custom-dots li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-dots li button {
  border: none;
  background-color: #ffffff;
}

.custom-dots li.react-multi-carousel-dot--active button {
  background-color: #226f54;
}
